sample-pass/sample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
  <xs:element name="allBillingAddresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="billingAddress" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="customerId" type="xs:integer" minOccurs="1" nillable="false"/>
              <xs:element name="addressLine1" type="xs:string" minOccurs="1" nillable="false"/>
              <xs:element name="addressLine2" type="xs:string" minOccurs="0" nillable="false"/>
              <xs:element name="city" type="xs:string" minOccurs="1" nillable="false"/>
              <xs:element name="postalCode" type="xs:string" minOccurs="1" nillable="false"/>
              <xs:element name="active" type="xs:boolean" minOccurs="1" nillable="false"/>
              <xs:element name="effectiveDate" type="xs:date" minOccurs="1" nillable="false"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
